<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<section>
  <div class="section-body">
    <div class="card card-bordered">
      <div class="card-head">
        <header><h3>Select Competitions</h3></header>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12 col-xs-12">
            <div ng-repeat="country in countries">
              <div class="col-md-3 col-xs-12" ng-repeat="competition in country.competitions">
                <button type="button" class="btn ink-reaction btn-raised"
                        ng-class="competition.selected ? 'btn-success' : 'btn-primary'"
                        ng-click="competitionClicked(competition)">
                  {{competition.name}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<tipster-slip matches="matches"></tipster-slip>

</body>
</html>
