<div>
  <section>
    <div class="section-body contain-lg">

      <div class="row">

        <!-- Euro Elite -->
        <div class="col-sm-6">
          <div class="card card-bordered card-hover card-col-info" ng-click="navigate('/profile/european-elite')">
            <div class="card-head">
              <div class="tools">
                <div class="btn-group">
                  <a class="btn btn-icon-toggle"><i class="md md-trending-up"></i></a>
                  <a class="btn btn-icon-toggle"><i class="md md-star"></i></a>
                  <a class="btn btn-icon-toggle"><i class="md md-info-outline"></i></a>
                </div>
              </div>
              <header><h3>European Elite</h3></header>
            </div>
            <div class="card-body height-2">
              <p class="text-lg">Bet on games from the elite European leagues.</p>
            </div>
          </div>
        </div>

        <!-- Domestic -->
        <div class="col-sm-6">
          <div class="card card-bordered card-hover card-col-danger" ng-click="navigate('/profile/domestic')">
            <div class="card-head">
              <div class="tools">
                <div class="btn-group">
                  <a class="btn btn-icon-toggle"><i class="md md-trending-up"></i></a>
                  <a class="btn btn-icon-toggle"><i class="md md-star"></i></a>
                  <a class="btn btn-icon-toggle"><i class="md md-info-outline"></i></a>
                </div>
              </div>
              <header><h3>Domestic</h3></header>
            </div>
            <div class="card-body height-2">
              <p class="text-lg">A tailored betslip from the domestic leagues.</p>
            </div>
          </div>
        </div>

      </div>

      <div class="row">

        <!-- Grass Roots -->
        <div class="col-sm-6">
          <div class="card card-bordered card-hover card-col-alt" ng-click="navigate('/profile/grass-roots')">
            <div class="card-head">
              <div class="tools">
                <div class="btn-group">
                  <a class="btn btn-icon-toggle"><i class="md md-trending-up"></i></a>
                  <a class="btn btn-icon-toggle"><i class="md md-star"></i></a>
                  <a class="btn btn-icon-toggle"><i class="md md-info-outline"></i></a>
                </div>
              </div>
              <header><h3>Grass Roots</h3></header>
            </div>
            <div class="card-body height-2">
              <p class="text-lg">Lower league games crafted by our experts</p>
            </div>
          </div>
        </div>

        <!-- Custom -->
        <div class="col-sm-6">
          <div class="card card-bordered card-hover card-col-hl" ng-click="navigate('/custom')">
            <div class="card-head">
              <div class="tools">
                <div class="btn-group">
                  <a class="btn btn-icon-toggle"><i class="md md-trending-up"></i></a>
                  <a class="btn btn-icon-toggle"><i class="md md-star"></i></a>
                  <a class="btn btn-icon-toggle"><i class="md md-info-outline"></i></a>
                </div>
              </div>
              <header><h3>Custom</h3></header>
            </div>
            <div class="card-body height-2">
              <p class="text-lg">You are the expert. Create your own betslip.</p>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <br>
      <div style="text-align: center">
        <span class="text-lg"><a href="#/old">Old site</a></span>
      </div>
    </div>

  </section>
</div>
