<div>
  <!-- BEGIN CONTENT-->
  <section>
    <div class="section-body contain-lg">
      <div class="card tabs-left style-default-light">
        <div class="card-body style-primary no-y-padding">
          <h3>Bet Criteria</h3>
        </div>
        <div class="card-body style-default-bright">
          <div class="row">
            <div class="col-lg-12">
              <bet-criteria></bet-criteria>
            </div><!--end .col -->
          </div><!--end .row -->
        </div><!--end .tab-pane -->
      </div>
    </div>
    <div class="section-body contain-lg">

      <div class="card tabs-left style-default-light">
        <div class="card-body style-primary no-y-padding">
          <h3>Bet Slip</h3>
        </div>

        <div class="card-body style-default-bright">
          <div class="row">
            <div class="col-lg-12">
              <bet-slip></bet-slip>
            </div><!--end .col -->
          </div><!--end .row -->
        </div><!--end .tab-pane -->
      </div>
    </div>
  </section>
  <!-- END CONTENT -->
</div>
