<div>
  <section ng-show="slipOdds">
    <div class="section-body contain-lg ">
      <div class="row">
        <div class="col-sm-2 col-xs-2 col-sm-offset-1 col-xs-offset-1 row-centered">
          <button type="button" class="btn ink-reaction style-default-dark"
                  ng-click="generateSlip(250000, 'Moonshot', 'default-dark')">
            <i class="fa fa-star"> </i> <span class="hidden-xs"> Moonshot </span>
          </button>
        </div>
        <div class="col-sm-2 col-xs-2 row-centered">
          <button type="button" class="btn ink-reaction style-warning "
                  ng-click="generateSlip(5000, 'Holiday', 'warning')">
            <i class="fa fa-plane"> </i> <span class="hidden-xs"> Holiday </span>
          </button>
        </div>
        <div class="col-sm-2 col-xs-2 row-centered">
          <button type="button" class="btn ink-reaction style-primary"
                  ng-click="generateSlip(100, 'Night Out', 'primary')"><i
            class="fa fa-cutlery"> </i> <span class="hidden-xs"> Night Out </span>
          </button>
        </div>
        <div class="col-sm-2 col-xs-2 row-centered">
          <button type="button" class="btn ink-reaction style-info "
                  ng-click="generateSlip(20, 'Drinks On Me', 'info')"><i
            class="fa fa-beer"> </i> <span class="hidden-xs"> Drinks On Me </span>
          </button>
        </div>
        <div class="col-sm-2 col-xs-2 row-centered">
          <button type="button" class="btn ink-reaction style-success"
                  ng-click="generateSlip(2, 'Double Up', 'success')"><i
            class="fa fa-angle-double-up"> </i> <span class="hidden-xs"> Double</span>
          </button>
        </div>
      </div>
      <br/>

      <div class="card card-bordered" style="margin-bottom: 0px" ng-class="selectedTipStyle">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12 col-xs-12">
              <p class="text-xxxl">
                {{slipLabel}}
              </p>
              <p class="text-xxl">
                £1 wins £{{slipOdds| number:0}}
              </p>
            </div>

            <div class="col-sm-12 col-xs-12">
              <p class="text-lg">
                <span class="line"><b>Winnings by: </b> </span> <span class="line"> {{lastBetDate | date:'EEE MMM d, h:mm a'}} </span>
                <br />
                <span class="line"> <b> Place bet before: </b> </span> <span class="line">{{firstBetDate | date:'EEE MMM d, h:mm a'}} </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card" style="margin-bottom: 0px">
        <div class="nano-content" tabindex="0" style="right: -17px;">
          <div class="card-body height-6 scroll style-default-bright text-lg" style="height: auto;">
            <div class="row" ng-repeat="match in slip" ng-class-odd="'background-white'"
                 ng-class-even="'background-selected'">
              <div class="col-sm-3 col-xs-3 row-centered"
                   ng-class="(match.home == match.selection.outcome) ? ['font-bold', selectedTipFont]: ''">
                {{match.home}}
              </div>
              <div class="col-sm-4 col-xs-4">
                <div class="row">
                  <div class="row-centered font-bold">
                    VS
                  </div>
                </div>
                <div class="row">
                  <div class="row-centered">
                    <small>{{match.date | date:'EEE MMM d h:mm'}}</small>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 col-xs-3 row-centered"
                   ng-class="(match.away == match.selection.outcome) ?  ['font-bold', selectedTipFont]: ''">
                {{match.away}}
              </div>
              <div class="col-sm-2 col-xs-2">
                <b> {{match.selection.oddsDecimal}}</b>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card card-bordered" ng-class="selectedTipStyle" ng-show="false">
        <div class="card-body">
          <p class="text-lg"><b> Place bet with: </b></p>
          <div class="row">
            <div class="col-sm-4 col-xs-4 row-centered ">
              <button type="button" class="btn ink-reaction btn-flat btn-lg btn-primary">William Hill</button>
            </div>
            <div class="col-sm-4 col-xs-4 row-centered ">
              <button type="button" class="btn ink-reaction btn-flat btn-lg btn-primary">Betfair</button>
            </div>
            <div class="col-sm-4 col-xs-4 row-centered ">
              <button type="button" class="btn ink-reaction btn-flat btn-lg btn-primary">Skybet</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
