@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,600,400italic,300);

.tipster-yellow {
  color: #FFD800;
}

.tipster-btn {
  font-family: Montserrat, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  background: transparent;
  font-weight: 700;
  padding: 0.7em 1.4em;
  color: #FFFFFF;
  margin-right: 10px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  border: 3px solid #FFFFFF;
  display: block;
  float: left;
  width: 100%;
  min-height: 125px;
  cursor: pointer;
}

.service-item {
  cursor: pointer;
}

#slip .service-item {
  color: white;
}


@media only screen and (max-width: 500px) {
  .tipster-btn {
    min-height: 0px !important;
  }
}

section#tipsterSlip {
  background: #fff;
  padding: 0px 0 10rem;
}

section#slip {
  background: #fff;
  padding: 100px 0 10rem;
}

section#slip .item-service i {
  font-size: 5rem;
}

section#slip .item-service {
  text-align: center;
  margin-top: 3rem;
}

section#custom {
  background: #337AB7;
  padding: 100px 0 10rem;
}

section#custom .item-service i {
  font-size: 5rem;
}

section#custom .item-service {
  text-align: center;
  margin-top: 3rem;
}

section#custom-divider {
  background: #2B2D35;
  padding: 10rem 0 0;
  overflow: hidden;
}

#custom .subtitle {
  color: #FFFFFF;
}

/* background for striped slip */

.background-white {
  background: rgba(255, 255, 255, 1) !important;
}

.background-default-dark {
  background: rgba(0, 0, 0, 0.1);
}

.background-warning {
 background: rgba(255, 152, 0, 0.1);
}

.background-primary {
 background: rgba(10, 168, 158, 0.1);
}

.background-info {
 background: rgba(33, 150, 243, 0.1);
}

.background-success {
 background: rgba(76, 175, 80, 0.1);
}

.background-selected {
  background: rgba(144, 149, 217, 0.06);
}

/* text for slip */

.slip-text-white {
  color: rgba(255, 255, 255, 1);
}

.slip-text-default-dark {
  color: rgba(0, 0, 0, 1);
}

.text-default-dark {
  color: rgba(0, 0, 0, 1);
}

.slip-text-warning {
  color: rgba(255, 152, 0, 1);
}

.slip-text-primary {
  color: rgba(10, 168, 158, 1);
}

.slip-text-info {
  color: rgba(33, 150, 243, 1);
}

.slip-text-success {
  color: rgba(76, 175, 80, 1);
}

.slip-text-selected {
  color: rgba(144, 149, 217, 6);
}

.slip-text-hover .item-service:hover .service-item {
  background: rgba(226, 226, 226, 0.5);
}

.selected-comp {
  background: rgb(222, 161, 52);
}

.unselected {
  color: rgba(145, 145, 145, 1);
}


.font-bold {
  font-weight: bold;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Home page card styles */
.card-col-info {
  background-color: rgb(72, 72, 96) !important;
  border-color: rgb(72, 72, 96) !important;
  color: white !important;
}

.card-col-info:hover {
  background-color: rgba(72, 72, 96, .9) !important;
  cursor: pointer;
}

.card-col-alt {
  background-color: rgb(120, 120, 120) !important;
  border-color: rgb(120, 120, 120) !important;
  color: white !important;
}

.card-col-alt:hover {
  background-color: rgba(120, 120, 120, .9) !important;
  cursor: pointer;
}

.card-col-danger {
  background-color: rgb(168, 120, 120) !important;
  border-color: rgb(168, 120, 120) !important;
  color: white !important;
}

.card-col-danger:hover {
  background-color: rgba(168, 120, 120, .9) !important;
  cursor: pointer;
}

.card-col-hl {
  background-color: rgb(144, 96, 120) !important;
  border-color: rgb(144, 96, 120) !important;
  color: white !important;
}

.card-col-hl:hover {
  background-color: rgba(144, 96, 120, .9) !important;
  cursor: pointer;
}

.row-centered {
  text-align: center;
}

span.line {
  display: inline-block;
}
