<div ng-show="slipItems.slipOdds">
  <div class="card card-bordered" style="margin-bottom: 0px" ng-class="slipItems.selectedTipStyle">
  </div>
  <div class="card" style="margin-bottom: 0px">
    <div class="nano-content">
      <div class="card-body height-6 scroll style-default-bright text-lg" style="height: auto;">
        <div class="row" ng-repeat="match in slipItems.slip" ng-class-odd="'background-white'"
             ng-class-even="'background-selected'">
          <div class="col-sm-3 col-xs-2">
            <i class="icon ion-ios-football"></i> <br/>
            <span class="hidden-lg hidden-md hidden-sm"> <span style="font-size: small;" ng-class="slipItems.selectedTipFont"> {{match.selection.odds}}</span> </span>
          </div>
          <div class="col-sm-7 col-xs-10">
                  <span
                    ng-class="(match.home == match.selection.outcome) ? ['font-bold', slipItems.selectedTipFont]: 'unselected'">
                {{match.home}}</span>
            <b style="color: black">-</b>
                   <span
                     ng-class="(match.away == match.selection.outcome) ?  ['font-bold', slipItems.selectedTipFont]: 'unselected'">
                {{match.away}}
                     </span>
            <br/>
            <b style="font-size: x-small;">{{match.date | date:'EEE MMM d h:mm'}}</b>
          </div>
          <div class="col-sm-2 hidden-xs">
            <b ng-class="slipItems.selectedTipFont"> {{match.selection.odds}}</b>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card card-bordered" style="margin-bottom: 0px;" ng-class="slipItems.selectedTipStyle">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <span class="line"><b>No. of Lines: </b> </span> <span class="line"> {{slipItems.slip.length| number:0}} </span>
          <br/>
          <span class="line"><b>Total odds: </b> </span> <span class="line"> {{slipItems.slipOdds| number:0}} </span>
          <br/>
          <span class="line"> <b> Stake: </b> </span> <span class="line"> £1 </span>
          <br/>
          <span class="line"> <b> Potential winnings: </b> </span> <span
          class="line"> £{{slipItems.slipOdds * 1| number:0}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-xs-12">
      <span class="line unselected"><b>Winnings by: </b>{{slipItems.lastBetDate | date:'EEE MMM d, h:mm a'}} </span>
      <br/>
            <span class="line unselected"> <b> Place bet
              before: </b> {{slipItems.firstBetDate | date:'EEE MMM d, h:mm a'}} </span>
    </div>
  </div>
</div>
